@using LibAcc.Abstractions
@inject HttpClient HttpClient

<h2>Statistics</h2>
<hr/>

@if (Stats == null)
{
    <em>Loading...</em>
}
else
{
    <div>
        <div>Total Books: @Stats.TotalBooks</div>
        <div>Total Customers: @Stats.TotalCustomers</div>
        <div>Total Late Rents: @Stats.TotalLateRents</div>
    </div>
}
@functions {

    Stats Stats { get; set; }

    protected override async Task OnInitAsync()
    {
        Stats = await HttpClient.GetJsonAsync<Stats>("api/Stats");
    }

}
